{% use "bootstrap_5_layout.html.twig" %}

{# Surcharge du widget de champ pour ne pas afficher les erreurs automatiquement #}
{% block form_row %}
    <div class="mb-3">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {# On retire form_errors(form) ici pour les afficher manuellement ailleurs #}
    </div>
{% endblock %}
