{# extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/css/styleTache.css') }}">
{% endblock %}

{% block body %}
<div class="task-container">
    <div class="task-header">
        <h1>Edit Task</h1>
    </div>

    {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="mt-4">
        <a href="{{ path(projetId ? 'app_tache_by_project' : 'app_tache_index', {'id': projetId}) }}" 
           class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to list
        </a>
    </div>
</div>
{% endblock %}