<!DOCTYPE html>

<title>New Reservation</title>

{% block body %}
    <h1>Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_ressource_index_employee') }}">back to list</a>
{% endblock %}
