{% extends 'base.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-center mb-5 text-dark">Créer une nouvelle offre</h1>
        {{ include('offre/_form.html.twig', {'form_title': 'Nouvelle Offre'}) }}
    </div>
{% endblock %}