{% extends 'baseRH.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('front/css/styleProjet.css') }}">
<style>
        .error-message {
            color: #dc3545;
            font-size: 0.875em;
            margin-top: 0.25rem;
        }
        .is-invalid {
            border-color: #dc3545 !important;
        }
    </style>
<title>Edit Project</title>
{% endblock %}

{% block heading %}
Edit Project
{% endblock %}

{% block title %}
Edit Project
{% endblock %}

{% block body %}
<div class="container project-form-container">
    <div class="project-form-header">
        <h1>Edit Project</h1>
        <p class="text-muted">Update the project details below</p>
    </div>

    {{ include('projet/_form.html.twig', {'button_label': 'Update', 'form_title': 'Edit Project'}) }}

    <div class="form-actions mt-4">
        <a href="{{ path('app_projet_index') }}" class="btn btn-back">
            <i class="fas fa-arrow-left me-2"></i> Back to list
        </a>
    </div>
</div>
{% endblock %}