<!DOCTYPE html>

<title>New Participation</title>
{% block form %}{% endblock %}
{% block body %}
    <h1>Create new Participation</h1>

    {{ include('participation/_form.html.twig') }}

    <a href="{{ path('app_participation_index') }}">back to list</a>
{% endblock %}
