{% extends 'baseRH.html.twig' %}

{% block title %}New Entretien{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create new Entretien</h1>
        </div>
        
        <div class="card shadow mb-4">
            <div class="card-body">
                {{ include('entretien/_form.html.twig') }}
                
                <a href="{{ path('app_entretien_index') }}" class="btn btn-secondary mt-3">
                    <i class="fas fa-arrow-left mr-2"></i>Back to list
                </a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block css %}
{{ parent() }}
<style>
    .lienmeet-field, .localisation-field {
        transition: opacity 0.3s ease, height 0.3s ease;
    }
    
    /* Style pour quand les champs sont cachés */
    [style*="display: none"] {
        display: none !important;
    }
</style>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Gestion de la visibilité des champs
    $('.entretien-type-selector').change(function() {
        if ($(this).val() === 'En_ligne') {
            $('.lienmeet-field').show();
            $('.localisation-field').hide();
        } else if ($(this).val() === 'Presentiel') {
            $('.lienmeet-field').hide();
            $('.localisation-field').show();
        } else {
            // Cas par défaut (les deux cachés)
            $('.lienmeet-field').hide();
            $('.localisation-field').hide();
        }
    }).trigger('change'); // Exécute immédiatement au chargement

    // Initialisation du timepicker (si vous en avez besoin)
    $('#timepicker-input').flatpickr({
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        minuteIncrement: 15,
        defaultHour: 9,
        defaultMinute: 0,
        locale: "fr"
    });

    $('#timepicker-icon').click(function() {
        $('#timepicker-input').flatpickr().open();
    });
});
</script>
{% endblock %}