<!DOCTYPE html>

<title>Edit Formation</title>
{% block form %}{% endblock %}
{% block body %}
    <h1>Edit Formation</h1>

    {{ include('formation/front/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_formation_front_index') }}">back to list</a>

    {{ include('formation/front/_delete_form.html.twig') }}
{% endblock %}