{% extends 'baseRH.html.twig' %}

{% block title %}Modifier Formation{% endblock %}

{% block body %}
<h2>Modifier la formation</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('app_formation_index') }}">⬅ Retour</a>
{% endblock %}
