{% extends 'baseRH.html.twig' %}

{% block title %}New Offre{% endblock %}
{% block heading %}New Offre{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-center mb-5 text-dark">Créer une nouvelle offre</h1>
        {{ include('offre/_form.html.twig', {'form_title': 'Nouvelle Offre'}) }}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </script>
{% endblock %}